/* #region ============  Start  ============ */
/* #endregion ------------  End  ------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #region ============  Start Container ============ */
.container {
    border-radius: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 0 20px 0;
    box-shadow: 0 0 20px gray;
}
@media (max-width: 440px) {
    .container {
        width: 100%;
    }
}
/* #endregion ------------  End Container ------------ */

/* #region ============  Start image head ============ */
.head-img {
    background-color: #5694ff;
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -10;
}
.image {
    width: 140px;
    border-radius: 500px;
    position: relative;
    bottom: -15px;
}
.image::before {
    content: "";
    position: absolute;
    width: 104%;
    height: 104%;
    background-color: white;
    border-radius: 500px;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.image::after {
    content: "";
    position: absolute;
    width: 108%;
    height: 108%;
    background-color: #5694ff;
    border-radius: 500px;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.image img {
    display: block;
    width: 100%;
    border-radius: 500px;
}
/* #endregion ------------  End image head ------------ */

/* #region ============  Start Text ============ */
.container h2 {
    margin-bottom: 10px;
}
.container > p {
    color: #777;
    margin-bottom: 10px;
}
/* #endregion ------------  End Text ------------ */

/* #region ============  Start Social ============ */
.social {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.social .media-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.social .media-container:nth-child(1) {
    background-color: #1877F2;
}
.social .media-container:nth-child(1):hover {
    background-color: white;
    border: 1px solid #1877F2;
}
.social .media-container:nth-child(2) {
    background-color: #1DA1F2;
}
.social .media-container:nth-child(2):hover {
    background-color: white;
    border: 1px solid #1DA1F2;
}
.social .media-container:nth-child(3) {
    background-color: #E1306C;
}
.social .media-container:nth-child(3):hover {
    background-color: white;
    border: 1px solid #E1306C;
}
.social .media-container:nth-child(4) {
    background-color: #FF0000;
}
.social .media-container:nth-child(4):hover {
    background-color: white;
    border: 1px solid #FF0000;
}
.social .media-container i {
    transition: .3s;
    font-size: 1.2rem;
    color: white;
}
.social .media-container:nth-child(1):hover i {
    color: #1877F2;
}
.social .media-container:nth-child(2):hover i {
    color: #1DA1F2;
}
.social .media-container:nth-child(3):hover i {
    color: #E1306C;
}
.social .media-container:nth-child(4):hover i {
    color: #FF0000;
}
/* #endregion ------------  End Social ------------ */

/* #region ============  Start Buttons ============ */
.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.buttons button {
    border-radius: 100px;
    padding: 10px 20px 13px;
    color: white;
    font-size: 1.2rem;
    background-color: #5694ff;
    border:none;
    cursor: pointer;
    transition: background-color .3s, transform .1s;

}
.buttons button:hover {
    background-color: #1e70fe;
}
.buttons button:active{
    transform: scale(0.95);
}
/* #endregion ------------  End Buttons ------------ */

/* #region ============  Start Stats ============ */
ul {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
}
li {
    padding: 5px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: unset;color: #000;
}
li:nth-child(2) {
    border-left: 3px solid #777;
    border-right: 3px solid #777;
}
/* #endregion ------------  End Stats ------------ */

